body{
  font-family: 'Courier New', Courier, monospace;
}
nav{
  margin: 10px;
  display: flex;
 
}
.navbar ul li {
  display: inline-block;
  justify-content: right;
}
.navbar ul li a{
  text-decoration: none;
}