@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
  box-sizing: border-box;
  font-family:"Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  background-color: #fff;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-left: 0.5rem;
  margin-right: 3rem;

}
nav .nav-bar ul{
  display: flex;
  justify-content: space-between;
}
nav .navbar ul li{
  display: inline-block; 
  margin-left: 3rem;
}
.navbar{
  display: flex;
  justify-content: space-between;
}

.navbar ul li a{
  text-decoration: none;
  color: black;
}
.home-menu{
  border: 50em;
  height: 100%;
  width: 100%;
  padding: 40px 40px 40px 40px;
  color: black;
  height: 100vh; 
}
p{
  margin-top: 60px;
}
.about-menu{
  height:100vh;
  margin-top: 60px;
  padding: 40px 40px 40px 40px;
}
.section-title{
  text-align: center;
  font-size: larger;
}
.home-container{
  display:flex;
  align-self:flex-end;
  width: auto;
}
h1{
  width: 500px ;
}
html{
  scroll-behavior: smooth;
}
.skill-menu{
  height:100vh;
  margin:20px;
  padding: 40px
}
.project-menu{
  height:100vh;
/*   margin:20px; */
  padding: 40px
}
.contact-menu{
  height:100vh;
  margin:20px;
  padding: 40px
}